<div class="container">
    <div class="line-data"> 
        <div>
            <ul class="row">
                <list-block class="col-12 col-sm-3" [blockData]=data.main_active [dataType]="'main_active'"></list-block>
                <list-block class="col-12 col-sm-3" [blockData]=data.current_liabilities [dataType]="'current_liabilities'"></list-block>
                <list-block class="col-12 col-sm-3" [blockData]=data.net_income [dataType]="'net_income'"></list-block>
                <list-block class="col-12 col-sm-3" [blockData]=data.net_profit [dataType]="'net_profit'"></list-block>
            </ul> 
        </div>
    </div>
</div>