<div class="container main-container">
  <div class="row">
    <div class="col">
      <div class="header-title">
        <h1>
          <img src="./assets/icons/uah.png" alt="UAH">
          <span>Фінанси</span>
        </h1>
        <div id="divider">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="analisis-header">
        <h4 class="">
          <img src="./assets/icons/stonks.png" alt="stonks">
          <span>Аналіз фінансової звітності</span>
        </h4>
      </div>
    </div>
  </div>
  <line-data class="row" [data]=mainData></line-data>
  <main-graph-table class="row" [data]=mainData></main-graph-table>
</div>